<% layout( 'layout' ) -%>

<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/categories">Categories</a></li>
    </ul>
    <h3 class="text-muted">Things Todo - Categories</h3>
  </div>

<div class="jumbotron">
  <p><a class="btn btn-lg btn-success"  data-toggle="modal" href="#todoModal">Add Category</a></p>

  <% categories.forEach( function ( category ){ %>
    <div class="category-item"> 
       <a class="update-link" href="/tasks/<%= category._id %>" title="Update this todo item"><%= category.name %></a> 
       <a class="btn-group btn-group-xs btn-link" data-category="<%= category._id %>" href="#" title="Delete this category">X</a>
    </div> 
  <% }); %>
</div>


<div class="footer">
  <p>&copy; imauser99 2016</p>
</div>

<!-- Modal Form-->
<div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todoModal" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Provide a few details about your new todo category...</h4>
      </div>
      <div class="modal-body">
        <form id="todoForm" role="form">
          <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input type="text" class="form-control" id="categoryName" name="name" placeholder="Category name">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description">
          </div>
        </form>
      </div>
      <div class="modal-footer">
         <label for="submit" id="status" class="pull-left"> </label>
         <button id="submit" type="button" class="btn btn-primary">Add Category</button>
      </div>
    </div>
  </div>
</div>

</div> <!-- /container -->

<script src="/category.js"></script>

